* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

.hero {
  background: linear-gradient(120deg, #4facfe, #00f2fe);
  color: white;
  padding: 40px 80px;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.btn {
   padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background:#60d9d7;
  color: rgb(250, 249, 249);
  font-size: 16px;
  
}

.hero-content {
  margin-top: 100px;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.cta-btn {
  margin: 11px 2% 3px 1px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #4facfe;
  font-size: 16px;
  cursor: pointer;
}

.features {
  padding: 60px;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about, .cta {
  padding: 60px;
  text-align: center;
}

.cta {
  background: #4facfe;
  color: white;
}

.cta button {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-top: 20px;
}

footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 20px;
}

.classleft{
  padding-left: 23px;
}